.product_card {

	// .product_card__body

	&__body {
		display: block;
		text-align: center;

		@media (any-hover: hover) {
			&:hover picture:nth-child(1) img {
				opacity: 0; visibility: hidden;
			}

			&:hover picture:nth-child(2) img {
				opacity: 1; visibility: visible;
			}
		}
	}

	// .product_card__image

	&__image {
		overflow: hidden;
		display: grid;
		> * {
			grid-area: 1/1;
		}

		img {
			transform-origin: center top;
			background: #DCDCDC;
			transition: opacity .3s ease, visibility .3s ease;
		}

		picture {
			&:nth-child(1) img {
				opacity: 1; visibility: visible;
			}

			&:nth-child(2) img {
				opacity: 0; visibility: hidden;
			}
		}
	}

	// .product_card__name

	&__name {
		padding-top: 0.75rem;
		@include _550 {
			padding-top: 1.25rem;
		}

		@media (min-width: 360px) {
			font-size: 1.125rem;
			letter-spacing: 0.25rem;
		}

		font-family: var(--title-font);
		font-size: 1rem;
		line-height: 1;
		letter-spacing: 0.15rem;
		text-transform: uppercase;
		color: var(--secondary);

		display: -webkit-box;
		text-overflow: ellipsis;
		overflow: hidden;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		line-clamp: 1;
		box-orient: vertical;
	}

	// .product_card__price

	&__price {
		margin-top: 0.35rem;
		@include _550 {
			margin-top: 0.75rem;
			gap: 1.25rem;
		}

		gap: 0.75rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		color: #8C8C8C;
		font-weight: 300;

		ins {
			text-decoration: none;
		}
	}
}
