.text_page {

	

	// .text_page__body

	&__body {
		max-width: 43.75rem;
		margin: 0 auto;
	}

	// .text_page__title

	&__title {
		padding-top: 2.5rem;

		line-height: 1;
		font-family: var(--title-font);
		text-transform: uppercase;
		letter-spacing: 0.04em;

		font-size: 3.125rem;

		@include _992 {
			font-size: 5rem; padding-top: 5rem;

			margin-right: -2rem;
		}

		hyphens: auto;
	}

	// .text_page__content

	&__content {

		padding-top: 2rem;
		@include _992 {
			padding-top: 4rem;
		}

		font-size: 1rem;
		font-weight: 300;
		letter-spacing: -0.04em;

		/* h2 {
			font-family: var(--title-font);
			font-size: 1.875rem;
			line-height: 1;
			font-weight: 700;
			letter-spacing: 0.12em;
			text-transform: uppercase;
	
			@include _550 {
				font-size: 3.125rem;
				padding-bottom: 1rem;
			}
	
			padding-bottom: 0.5rem;
	
			&:not(:first-child) {
				padding-top: 2.5rem;
				@include _992 {
					padding-top: 5rem;
				}
			}
		} */
	
		h2 {
			font-family: var(--title-font);
			font-size: 1.5625rem;
			line-height: 1;
			font-weight: 700;
			letter-spacing: 0.12em;
			text-transform: uppercase;
	
			@include _550 {
				font-size: 1.875rem;
				padding-bottom: 1rem;
			}
	
			padding-bottom: 0.5rem;

			&:not(:first-child) {
				padding-top: 2rem;
				@include _992 {
					padding-top: 3rem;
				}
			}
		}

		h3 {
			font-family: var(--title-font);
			font-size: 1.25rem;
			line-height: 1;
			font-weight: 700;
			letter-spacing: 0.12em;
			text-transform: uppercase;
	
			@include _550 {
				font-size: 1.5rem;
				padding-bottom: 1rem;
			}
	
			padding-bottom: 0.5rem;
			
			&:not(:first-child) {
				padding-top: 1.5rem;
				@include _992 {
					padding-top: 2rem;
				}
			}
		}
	
		p {
	
			&:not(:first-child) {
				padding-top: 1rem;
			}
		}
	
		ul, ul li {
			list-style-type: disc;
		}
	
		li:not(:first-child) {
			padding-top: 0.75rem;
		}
	
		ul, ol {
			padding-left: 1.5rem; padding-top: 1rem;
			
			@include _550 {
				padding-left: 2rem;
			}
	
			@include _992 {
				padding-left: 2.5rem;
			}
		}
	
		img {
			margin-top: 2.5rem;
			@include _992 {
				margin-top: 4rem;
			}
		}
	}
}
