.large_categories {

	padding-top: 5rem;

	@include _992 {
		padding-top: 8.15rem;
	}

	// .large_categories__title

	&__title {
	}

	// .large_categories__list

	&__list {
		display: grid;
		@include _992 {
			grid-template-columns: 1fr 1fr;
		}
	}

	// .large_categories__card

	&__card {
		position: relative;
		z-index: 2;

		min-height: 100vw;
		
		@include _992 {
			min-height: 50vw;
		}

		span {
			position: absolute;
			left: 50%; top: 50%;
			transform: translate(-50%,-50%);

			display: inline-block;
			color: var(--white);
			font-size: 3.125rem;
			line-height: 1;
			letter-spacing: 0.6rem;
			font-family: var(--title-font);
			font-weight: 700;
			text-transform: uppercase;

		}

		position: relative;

		span::before {
			content: '';
			position: absolute;
			left: 50%; bottom: 0;
			width: 100%; height: 0.0625rem;
			transform: translate(calc(-50% - 0.08em),0) scaleX(0);
			background: var(--white);

			transition: transform .3s ease, background .3s ease;
		}

		@media (any-hover: hover) {
			&:hover span::before {
				transform: translate(calc(-50% - 0.08em),0) scaleX(1);
			}
		
			&:active span::before {
				transition: transform .3s ease, background .2s ease;
				background: #808080;
			}
		}

		
	}

	@media (any-hover: hover) {
			
		&__card_image:hover::after {
			opacity: 1;
		}

	}

	// .large_categories__card_image

	&__card_image {
		position: absolute;
		top: 0;
		width: 100vw; height: 100%;

		@include _992 {
			width: 50vw;

			left: 0;
			transform: none;
		}

		left: 50%;
		transform: translate(-50%,0);

		overflow: hidden;

		user-select: none;

		&::after {
			content: '';
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			background: rgba(0,0,0,0.4);

			opacity: 0;
			transition: opacity .3s ease;
		}

		img {
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			object-fit: cover;

			transition: transform .4s ease;
		}
	}
}
