.blog {

	padding-top: 1.25rem;
	@include _992 {
		padding-top: 1.25rem;
	}

	&:not(.disable-top-gap) {
		padding-top: 5rem;
		@include _992 {
			padding-top: 8.45rem;
		}
	}

	// .blog__grid

	&__grid {
		display: grid;
		@include _992 {
			grid-template-columns: 1fr 1fr;
			grid-auto-rows: 1fr;
		}

		gap: 1.25rem;
	}

	// .blog__card

	&__card {

		position: relative;

		

		min-height: calc(100vw - var(--container-padding) * 2);
		width: 100%;

		@media (any-hover: hover) {
			&:hover &_name span::before {
				transform: scaleX(1);
			}

			&:hover &_thumbnail::after {
				opacity: 1;
			}
		
			&:active &_name span::before {
				transition: transform .3s ease, background .2s ease;
				background: #808080;
			}
		}

		@include _992 {
			

			width: auto;
			min-height: auto;

			
		}

		&_body {

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-self: flex-start;

			padding: 0.75rem 1.25rem 1.25rem;

			min-height: 100%;

			@include _992 {
				padding: 2.1rem 2.5rem 2rem;

				flex-direction: column-reverse;
				justify-content: flex-end;
			}
		}

		@include _992 {
			&:nth-child(1), &:nth-child(7):not(:nth-last-child(1), :nth-last-child(2)) {
				grid-row: 2 span;
				//min-height: 41.875rem;
				min-height: 46.53vw;
			}
	
			&:nth-child(2):last-child {
				grid-row: 2 span;
				//min-height: 41.875rem;
				min-height: 46.53vw;
			}
	
			&:nth-child(5):not(:last-child) {
				grid-row: 2 span;
				//min-height: 41.875rem;
				min-height: 46.53vw;
			}
	
			&:nth-child(6n + 13):not(:nth-last-child(1), :nth-last-child(2)) {
				grid-row: 2 span;
				//min-height: 41.875rem;
				min-height: 46.53vw;
				opacity: .1;
			}
	
			&:nth-child(3n + 11):last-child {
				grid-row: auto;
				min-height: auto;
			}
	
			&:nth-child(6n + 11) {
				grid-row: 2 span;
				//min-height: 41.875rem;
				min-height: 46.53vw;
			}
		}

		/* @media (any-hover: hover) and (min-width: 992px) {
			&:hover .blog__card_thumbnail::after {
				opacity: .5;
			}

			&:active .blog__card_thumbnail::after {
				opacity: .7;
			}
		} */
	}

	// .blog__card_thumbnail

	&__card_thumbnail {
		position: absolute;
		inset: 0;
		width: 100%; height: 100%;

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			width: 100%; height: 100%;
			background: rgba(0,0,0,0.4);
			opacity: 0.4;
			@include _992 {
				opacity: 0;
			}

			transition: opacity .3s ease;
		}

		img {
			width: 100%; height: 100%;
			object-position: center top;
			object-fit: cover;
		}
	}

	// .blog__card_name

	&__card_name {
		display: inline;
		margin-top: 1.15rem;

		position: relative;
		z-index: 2;

		color: var(--white);

		span {
			position: relative;
			

			&::before {
				content: '';
				position: absolute;
				left: 0; bottom: 0;
				width: 100%; height: 0.0625rem;
				transform: scaleX(0);
				background: var(--white);
				transform-origin: left top;
	
				transition: transform .3s ease, background .3s ease;
			}
		}

		
	}

	// .blog__card_info

	&__card_info {
		z-index: 2;

		font-weight: 300;
		color: var(--white);

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@include _992 {
			flex-direction: row-reverse;
			justify-content: flex-end;
		}

		span, time, a {
			font-weight: 300;
			color: var(--white);
			@include _992 {
				opacity: .6;
			}
		}

		@include _992 {
			span::after {
				content: ' / ';
				padding: 0 0.5rem;
			}
		}
	}

	// .blog__footer

	&__footer {
		padding-top: 1.25rem;

		display: flex;
		justify-content: center;
	}

	// .blog__button

	&__button {
		min-width: 100%;
		@include _550 {
			min-width: 16.25rem;
		}
	}
}
