.nav_popup {

	position: absolute;

	padding: 0;
	display: none;
	//margin-top: calc(var(--height-header,2.5rem) - var(--height-banner,0px));

	width: calc(100vw - var(--width-scrollbar,0px));
	overflow: hidden;

	display: none;
	animation: 0.3s ease 0s 1 normal forwards;
	animation-name: fadeOut;

	&.popup.is-active {
		opacity: 0; visibility: hidden;
		animation-name: fadeIn2;
	}

	&.is-active-2 {
		display: flex !important;
		top: calc(var(--header-y,0px) + var(--height-header,0px) - 0.0625rem)
	}

	// .nav_popup__wrapper

	&__wrapper {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	
		//height: calc(var(--vh,1vh) * 100 - var(--height-header,2.5rem));
	}

	// .nav_popup__bg

	&__bg {
	}

	// .nav_popup__body

	&__body {
		//flex: 1 1;
		margin: 0;
		max-width: 100%;
		@include _550 {
			padding: 2rem 1.25rem;
		}

		height: calc(var(--vh,1vh) * 100 + 0.0625rem - var(--height-header,2.5rem));
		max-height: calc(var(--vh,1vh) * 100 + 0.0625rem - var(--height-header,2.5rem));

		border-top: 0.0625rem solid #404040;
	}

	&__container {
		height: calc(var(--vh,1vh) * 100 - var(--height-header,2.5rem) - var(--height-banner-2,0px) - 4rem);
		max-height: calc(var(--vh,1vh) * 100 - var(--height-header,2.5rem) - var(--height-banner-2,0px) - 4rem);
	}

	// .nav_popup__close-btn

	&__close-btn {
		color: var(--white);
		top: 0.75rem; right: 0.75rem;
		width: 2rem; height: 2rem;
		z-index: 3;
		svg {
			width: 80%; height: 80%;
		}
	}

	// .nav_popup__row

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 5rem;

		padding-top: 0.25rem;
	}

	// .nav_popup__item

	&__item {
		h3 {

			text-transform: uppercase;
			color: var(--white);
			font-size: 1.875rem;
			line-height: 1;
			font-family: var(--title-font);
			letter-spacing: 0.16rem;
			
		}

		ul {
			padding-top: 1.5rem;
		}

		a {
			display: block;

			padding: 0.5rem 0;

			color: var(--white);
			font-size: 0.75rem;
			font-weight: 700;
			line-height: 1;
			text-transform: uppercase;

			span {
				display: inline-block;
				position: relative;
			}

			span::before {
				content: '';
				position: absolute;
				left: 0; bottom: -0.125rem;
				width: 100%; height: 0.0625rem;
				transform: scaleX(0);
				background: var(--white);
				transform-origin: left top;

				transition: transform .3s ease, background .3s ease;
			}

			@media (any-hover: hover) {
				&:hover span::before {
					transform: scaleX(1);
				}
			
				&:active span::before {
					background: #808080;
				}
			}
		}
	}

	// .nav_popup__cards_row

	&__cards_row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.25rem;

		padding-top: 4rem; padding-bottom: 0;
		max-width: 56.25rem; margin: 0 auto;

		perspective: 400px;

		a {
			display: grid;
			position: relative;
			overflow: hidden;

			span {
				position: relative;

				font-family: var(--title-font);
				font-size: 3.125rem;
				line-height: 1;
				text-transform: uppercase;
				letter-spacing: 0.24rem;
				color: var(--white);

				align-self: center; justify-self: center;

				z-index: 2;
			}

			> * {
				grid-area: 1/1;
			}

			span::before {
				content: '';
				position: absolute;
				left: 50%; bottom: 0;
				width: 100%; height: 0.0625rem;
				transform: translate(calc(-50% - 0.08em),0) scaleX(0);
				background: var(--white);
	
				transition: transform .3s ease, background .3s ease;
			}

			&::before {
				content: '';
				position: absolute;
				left: 0; top: 0;
				width: 100%; height: 100%;
				background: rgba(0,0,0,0.4);

				opacity: 0;
				transition: opacity .3s ease;
			}
	
			@media (any-hover: hover) {
				&:hover::before {
					opacity: 1;
				}

				&:hover span::before {
					transform: translate(calc(-50% - 0.08em),0) scaleX(1);
				}
			
				&:active span::before {
					transition: transform .3s ease, background .2s ease;
					background: #808080;
				}
			}
		}
	}
}

.nav_popup_2 {

	position: absolute;
	top: 0;

	//display: none;
	padding: 0;
	//margin-top: calc(var(--height-header,2.5rem) - var(--height-banner,0px));

	width: calc(100vw - var(--width-scrollbar,0px));
	overflow: hidden;

	display: none;
	animation: 0.3s ease 0s 1 normal forwards;
	animation-name: fadeOut;

	&.popup.is-active {
		opacity: 0; visibility: hidden;
		animation-name: fadeIn2;
	}

	&.is-active-2 {
		display: flex !important;
		top: calc(var(--header-y,0px) + var(--height-header,0px) - 0.0625rem)
	}

	// .nav_popup_2__wrapper

	&__wrapper {
		

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	// .nav_popup_2__bg

	&__bg {
	}

	// .nav_popup_2__body

	&__body {
		max-width: 100%;
		padding: 0; margin: 0;

		height: calc(var(--vh,1vh) * 100 + 0.0625rem - var(--height-header,2.5rem));
		max-height: calc(var(--vh,1vh) * 100 + 0.0625rem - var(--height-header,2.5rem));

		@include _550 {
			//padding: 4rem calc(var(--container-padding) / 2) 4rem var(--container-padding);
			padding: 0;
			margin: 0;
		}

		
		//height: calc(var(--vh,1vh) * 100 - var(--height-header,2.5rem) - var(--height-banner,0px));
		border-top: 0.0625rem solid #404040;
		
	}

	// .nav_popup_2__close-btn

	&__close-btn {
		color: var(--white);
		top: 0.75rem; right: 0.75rem;
		width: 2rem; height: 2rem;
		z-index: 3;
		svg {
			width: 80%; height: 80%;
		}
	}

	// .nav_popup_2__container

	&__container {
		max-height: calc(var(--vh,1vh) * 100 - var(--height-header,2.5rem) - var(--height-banner-2,0px));
		height: calc(var(--vh,1vh) * 100 - var(--height-header,2.5rem) - var(--height-banner-2,0px));
		padding: 3rem var(--container-padding);
	}

	// .nav_popup_2__row

	&__row {
		display: grid;

		gap: 0 2rem;

		@include _992 {
			grid-template-columns: 1fr 1fr;
		}
		
	}

	// .nav_popup_2__item

	&__item {
		display: grid;
		grid-template-columns: 1fr 1fr;
		//grid-template-rows: min-content auto auto;
		gap: 0 2.5rem;

		@include _992 {
			grid-template-columns: 27.75rem 1fr;
		}
	}

	&__item:nth-child(even) {
		grid-template-columns: 1fr 1fr;
		@include _992 {
			grid-template-columns: 1fr 27.75rem;
		}
	}

	&__item:nth-child(even) & {
		&__item_image {
			grid-column: 2;
			grid-row: 1/4;
		}
	}

	// .nav_popup_2__item_image

	&__item_image {
		grid-row: 1/4;
	}

	// .nav_popup_2__item_title

	&__item_title {
		font-family: var(--title-font);
		text-transform: uppercase;
		color: var(--white);
		font-size: 1.875rem;
		line-height: 1;
		letter-spacing: 0.16em;

		padding-top: 3.125rem;

		@include _992 {
			padding-top: 0;
		}
	}

	// .nav_popup_2__item_list

	&__item_list {
		padding-top: 3rem;

		li {
			padding: 0.625rem 0;
		}

		a {
			display: block;
			text-transform: uppercase;
			color: var(--white);
			font-weight: 700;

			span {
				display: inline-block;
				position: relative;
			}

			span::before {
				content: '';
				position: absolute;
				left: 0; bottom: -0.125rem;
				width: 100%; height: 0.0625rem;
				transform: scaleX(0);
				background: var(--white);
				transform-origin: left top;

				transition: transform .3s ease, background .3s ease;
			}

			@media (any-hover: hover) {
				&:hover span::before {
					transform: scaleX(1);
				}
			
				&:active span::before {
					background: #808080;
				}
			}
		}
	}
}

